<ion-header>
    <ion-toolbar>
        <ion-title> Cadastro_ </ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="openPopover();">
                <ion-icon name="contact"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div *ngIf="holderService.cadastro">
        <info-cadastro-list-component [cadastro]="holderService.cadastro"></info-cadastro-list-component>
        <fulltest-component></fulltest-component>
    </div>
    <alert-mensagem-component [ativo]="ativo" [tipo]="tipo" [titulo]="titulo" [mensagem]="mensagem"></alert-mensagem-component>
</ion-content>