cadastro-component {
    .button-mg-top {
        margin-top: 20px;
    }
    .mg-left {
        margin-left: 10px;
    }

    .titulo-info-cad {
        font-size: 1.3em;
        margin: .5em 0 .75em;
        text-align: center;
    }
}