<ion-header>
    <ion-toolbar>
        <ion-title> Consultar Instância_ </ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="openPopover();">
                <ion-icon name="contact"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label stacked>Instância/Designador</ion-label>
            <ion-input type="text" [(ngModel)]="holderService.instancia"></ion-input>
        </ion-item>
    </ion-list>

    <div>
        <button ion-button round color="primary" block (click)="getCadastro()">Consultar Cadastro</button>
        
        <button *ngIf="haveEventoMassivo()" ion-button round color="primary" block (click)="entrarEventoMassivos()" class="button-margin-top">Visualizar Eventos Massivos</button>
    </div>

    <info-cadastro-component [cadastro]="holderService.cadastro"></info-cadastro-component>

    <alert-mensagem-component [ativo]="ativo" [tipo]="tipo" [titulo]="titulo" [mensagem]="mensagem"></alert-mensagem-component>

</ion-content>