<ion-header>
    <ion-navbar>
        <ion-title> Efika CO Mobile_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div padding>
        <h5>Seja bem vindo ao</h5>
        <h4>Efika CO Mobile_</h4>
        <p>Para entrar digite sua matricula e senha nos campos abaixo.</p>
    </div>
    <button ion-button full round color="secondary" small (click)="solicitarAcesso()">Solicitar Acesso</button>
    <ion-list (keyup.enter)="validEntrar()">
        <ion-item class="ion-item-rounded">
            <ion-label floating>Matricula</ion-label>
            <ion-input #input type="text" [(ngModel)]="usuario.matricula" name="usuario"></ion-input>
            <!-- placeholder="Matricula" -->
        </ion-item>
        <ion-item class="ion-item-rounded">
            <ion-label floating>Senha</ion-label>
            <!-- placeholder="Senha" -->
            <ion-input type="password" [(ngModel)]="usuario.senha" name="senha" *ngIf="!showHidePassword"></ion-input>
            <ion-input type="text" [(ngModel)]="usuario.senha" name="senha" *ngIf="showHidePassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Mostrar Senha</ion-label>
            <ion-checkbox color="dark" checked="true" [(ngModel)]="showHidePassword"></ion-checkbox>
        </ion-item>
    </ion-list>

    <div padding>
        <button ion-button round color="primary" block (click)="validEntrar()">Entrar</button>
        <counter-component [timer]="timer"></counter-component>
    </div>
    <alert-mensagem-component [ativo]="ativo" [tipo]="tipo" [titulo]="titulo" [mensagem]="mensagem"></alert-mensagem-component>
</ion-content>