<ion-header>
    <ion-navbar>
        <ion-title> Efika CO Mobile_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div padding>
        <h5>Seja bem vindo ao</h5>
        <h4>Efika Mobile CO_</h4>
        <p>Para entrar digite sua matricula e senha nos campos abaixo.</p>
    </div>
    <ion-list inset (keyup.enter)="entrar()">
        <ion-item>
            <ion-label>Matricula</ion-label>
            <ion-input type="text" [(ngModel)]="usuario.matricula" name="usuario" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="usuario.senha" name="senha" required *ngIf="!showHidePassword"></ion-input>
            <ion-input type="text" [(ngModel)]="usuario.senha" name="senha" required *ngIf="showHidePassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Mostrar Senha</ion-label>
            <ion-checkbox color="dark" checked="true" [(ngModel)]="showHidePassword"></ion-checkbox>
        </ion-item>
    </ion-list>

    <div padding>
        <button ion-button round color="primary" block (click)="entrarMock()">Entrar</button>
    </div>
    <alert-mensagem-component [ativo]="ativo" [tipo]="tipo" [titulo]="titulo" [mensagem]="mensagem"></alert-mensagem-component>
</ion-content>