<div>

    <ion-item>
        <ion-label>Serial do Modem</ion-label>
        <ion-input [(ngModel)]="atendimento.serial" type="text" [serialMask]></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>MAC do Modem</ion-label>
        <ion-input [(ngModel)]="atendimento.mac" [macMask]>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Tecnologia de TV</ion-label>
        <ion-select [(ngModel)]="atendimento.tecnologiaTV" (ionChange)="changeTecnologiaTV()">
            <ion-option value="TVDTH">DTH</ion-option>
            <ion-option value="TVHIBRIDA">Híbrida</ion-option>
            <ion-option value="IPTV">IPTV</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="atendimento.tecnologiaTV && listErrorMotivo">
        <ion-label>Erro TV</ion-label>
        <ion-select [(ngModel)]="atendimento.erroTV">

            <ng-container *ngFor="let m of listErrorMotivo">
                <ion-option [value]="m.nome" *ngIf="validShowOptionsInMotivosError(m.nome)">
                    {{m.nome}}
                </ion-option>
            </ng-container>

        </ion-select>
    </ion-item>

    <ion-item *ngIf="atendimento.tecnologiaTV === 'IPTV'">
        <ion-label>Tecnologia de IPTV</ion-label>
        <ion-select [(ngModel)]="atendimento.tipoTV" (ionChange)="changeTipoTV()">
            <ion-option value="MEDIAROOM">MediaRoom</ion-option>
            <ion-option value="OPENPLATAFORM">Open Plataform</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="atendimento.erroTV">
        <ion-label>Tipo de Equipamento</ion-label>
        <ion-select [(ngModel)]="tipoEquipamento">
            <ion-option *ngIf="atendimento.tecnologiaTV === 'TVDTH' || atendimento.tecnologiaTV === 'TVHIBRIDA'"
                value="DECODER">Decoder</ion-option>
            <ion-option value="DVR">DVR</ion-option>
            <ion-option *ngIf="atendimento.tecnologiaTV === 'IPTV'" value="STB">
                STB</ion-option>
        </ion-select>
    </ion-item>


    <div *ngIf="validContinueFormATDG()">

        <p>Para adicionar os pontos preencha as informações abaixo.</p>

        <ion-item>
            <ion-label>Mac</ion-label>
            <ion-input [(ngModel)]="addMacPonto" [macMask]></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Serial</ion-label>
            <ion-input type="text" [(ngModel)]="addSerialPonto" [serialMask]></ion-input>
        </ion-item>


        <ion-item *ngIf="atendimento.tecnologiaTV === 'IPTV' && atendimento.tipoTV === 'OPENPLATAFORM' 
            && (tipoEquipamento === 'STB' || tipoEquipamento === 'DVR')">
            <ion-label>CA_ID</ion-label>
            <ion-input type="text" [(ngModel)]="addCaIDPonto" [serialMask]></ion-input>
        </ion-item>

        <ion-item
            *ngIf="atendimento.tecnologiaTV === 'TVDTH' && (tipoEquipamento === 'DECODER' || tipoEquipamento === 'DVR')">
            <ion-label>Smart Card</ion-label>
            <ion-input type="text" [(ngModel)]="addSmartCardPonto" [serialMask]></ion-input>
        </ion-item>


        <button color="secondary" ion-button block round (click)="addPontos()">Adicionar Ponto</button>

        <hr>
        <p>Lista de Pontos adicionados: </p>

        <ion-list *ngIf="atendimento.pontos">
            <ion-item-sliding *ngFor="let ponto of atendimento.pontos">
                <ion-item>
                    <h2>MAC: {{ponto.mac}}</h2>
                    <h3>Serial: {{ponto.serial}}</h3>
                    <h3 *ngIf="ponto.caId">CA ID: {{ponto.caId}}</h3>
                    <h3 *ngIf="ponto.smartCard">Smart Card: {{ponto.smartCard}}</h3>
                    <h3>Tipo Equipamento: {{ponto.tipoEquipamento}}</h3>
                </ion-item>
                <ion-item-options side="end">
                    <button ion-button color="danger" (click)="removePonto(ponto)">
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

        <button ion-button block round (click)="setAtendimento()" [disabled]="!validSeEnviaForm()">Enviar</button>

    </div>


</div>