<div>

    <!-- Infos de Modem Pede para todos -->
    <ion-item>
        <ion-label>Serial HG</ion-label>
        <ion-input [(ngModel)]="atendimentoDigital.serialHG">
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Mac HG</ion-label>
        <ion-input [(ngModel)]="atendimentoDigital.macHG" [macMask] pattern=^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Tipo TV</ion-label>
        <ion-select [(ngModel)]="atendimentoDigital.tipoTV" (ionChange)="changeTipoTV()">
            <ion-option value="" selected>Selecione</ion-option>
            <ion-option value="DECODER">DECODER</ion-option>
            <ion-option value="DVR">DVR</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="atendimentoDigital.tipoTV === 'DECODER'">
        <ion-label>Tipo TV</ion-label>
        <ion-select [(ngModel)]="atendimentoDigital.modeloTV" (ionChange)="changeModeloTV()">
            <ion-option value="" selected>Selecione</ion-option>
            <ion-option value="IPTV">IPTV</ion-option>
            <ion-option value="TVDTH">TV DTH</ion-option>
            <ion-option value="TVHIBRIDA">TV Híbrida</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="(atendimentoDigital.tipoTV === 'DECODER' && atendimentoDigital.modeloTV === 'IPTV') || atendimentoDigital.tipoTV === 'DVR'">
        <ion-label>Detalhe IPTV</ion-label>
        <ion-select [(ngModel)]="atendimentoDigital.detailIPTV">
            <ion-option value="" selected>Selecione</ion-option>
            <ion-option value="MEDIAROOM" *ngIf="holderService.cadastro.rede.planta === 'VIVO1'">MEDIAROOM</ion-option>
            <ion-option value="OPEN_PLATAFORM">OPEN PLATAFORM</ion-option>
        </ion-select>
    </ion-item>

    <hr>

    <div *ngIf="atendimentoDigital.tipoTV">
        <p>Para adicionar os pontos preencha as informações abaixo.</p>

        <ion-item>
            <ion-label>Mac</ion-label>
            <ion-input [(ngModel)]="pontoMac" [macMask]></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Serial</ion-label>
            <ion-input [(ngModel)]="pontoSerial" maxlength="20"></ion-input>
        </ion-item>
        <ion-item *ngIf="atendimentoDigital.tipoTV === 'DECODER' && atendimentoDigital.modeloTV === 'IPTV'">
            <ion-label>CA_ID</ion-label>
            <ion-input [(ngModel)]="ca_id" maxlength="20"></ion-input>
        </ion-item>
        <ion-item *ngIf="atendimentoDigital.tipoTV === 'DVR'">
            <ion-label>Smart Card</ion-label>
            <ion-input [(ngModel)]="smartcard" maxlength="20"></ion-input>
        </ion-item>

        <button color="secondary" ion-button block round (click)="addPonto()">Adicionar
            Ponto</button>

        <hr>

        <p>Lista de Pontos adicionados: </p>

        <ion-list *ngIf="atendimentoDigital.pontos">
            <ion-item-sliding *ngFor="let ponto of atendimentoDigital.pontos">
                <ion-item>
                    <h2>MAC: {{ponto.mac}}</h2>
                    <h3>Serial: {{ponto.serial}}</h3>
                    <h3 *ngIf="ponto.caId">CA ID: {{ponto.caId}}</h3>
                    <h3 *ngIf="ponto.smartCard">Smart Card: {{ponto.smartCard}}</h3>
                </ion-item>
                <ion-item-options side="end">
                    <button ion-button color="danger" (click)="removePonto(ponto)">
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>



    <button ion-button block round (click)="setAtendimento()" [disabled]="validSendButton()">Enviar</button>

</div>