counter-component {
    .body-counter {
        text-align: center;

        font-size: 15px;
        
        background-color: gray;
        opacity: 0.5;        

        width: 50%;
        
        margin-left: 25%;

    }
}