<!-- <counter-component [timer]="timer"></counter-component> -->
<br>
<div (keyup.enter)="doGetCadastro()">
    <ion-searchbar [type]="'number'" [(ngModel)]="holderService.instancia" [placeholder]="'Instância'" [focuser]>
    </ion-searchbar>
    <counter-component [timer]="timer"></counter-component>
    <p>Para pesquisar insira a instância no campo e pressione "Enter" ou "Consultar"</p>
    <button ion-button block round color="royal" (click)="doGetCadastro();">Consultar</button>
</div>
<div class="msg-mg-top">
    <alert-mensagem-component [ativo]="ativo" [tipo]="tipo" [titulo]="titulo" [mensagem]="mensagem"></alert-mensagem-component>
</div>