<div *ngIf="valids">
    <div *ngFor="let valid of valids">
        <div class="titulo-pagina">{{valid.nome}}</div>
        <table *ngIf="valid">
            <tbody>
                <tr>
                    <th>Mensagem:</th>
                    <td>
                        {{valid.mensagem}}
                        <ion-icon name="checkmark-circle" *ngIf="valid.resultado" style="color: green;"></ion-icon>
                        <ion-icon name="ios-alert" *ngIf="!valid.resultado" style="color: red;"></ion-icon>
                    </td>
                </tr>
                <tr *ngIf="valid.result && valid.result.adminState">
                    <th>Estado Administrativo</th>
                    <td>
                        <ion-icon name="checkmark-circle" *ngIf="valid.result.adminState" style="color: green;"></ion-icon>
                        <ion-icon name="ios-alert" *ngIf="!valid.result.adminState" style="color: red;"></ion-icon>
                    </td>
                </tr>
                <tr *ngIf="valid.result && valid.result.operState">
                    <th>Estado Operacional</th>
                    <td>
                        <ion-icon name="checkmark-circle" *ngIf="valid.result.operState" style="color: green;"></ion-icon>
                        <ion-icon name="ios-alert" *ngIf="!valid.result.operState" style="color: red;"></ion-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>