<ion-header>
    <ion-navbar>
        <ion-title>Descrição Atendimento Digital_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>

        <h3>Atendimento: Lorem ipsum dolor sit amet</h3>

        <h5>Consectetur adipiscing elit</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur velit mi, efficitur consequat
            risus mattis sed. Morbi nec orci risus. Morbi quis nisi et ipsum dapibus hendrerit vel malesuada justo.
            Suspendisse sit amet massa nisl. Nam auctor orci ac ex condimentum, vel placerat lectus viverra.
        </p>

        <hr>

        <h5>Resposta</h5>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur velit mi, efficitur consequat
            risus mattis sed. Morbi nec orci risus. Morbi quis nisi et ipsum dapibus hendrerit vel malesuada justo.
            Suspendisse sit amet massa nisl. Nam auctor orci ac ex condimentum, vel placerat lectus viverra.
        </p>

        <button ion-button block round>Reabrir</button>

    </div>
</ion-content>