<ion-header>
    <ion-navbar>
        <ion-title>Descrição Atendimento Digital_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <h3>Atendimento: {{atendimentoHold.atendimento.ticket.instancia}} / {{getMotivosTranslate()}} </h3>
        <hr>
        <h5>Resposta: </h5>
        <p> {{atendimentoHold.atendimento.atendimento}} </p>
        <div *ngIf="atendimentoHold.historico">
            <h5>Respostas Reaberturas</h5>
            <ion-list>
                <ion-item *ngFor="let hist of atendimentoHold.historico"
                    (click)="openObservacoesReaberturas(hist.atendimento)">
                    <ion-label>
                        <!-- {{nomesMatriculas(hist.tecnico.matricula, hist.user.matricula)}}  -->
                        {{hist.atendimento}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
        <button ion-button block round (click)="reOpenAtendimento()">Reabrir</button>
    </div>
</ion-content>