<ion-header>
    <ion-navbar>
        <ion-title>Descrição Atendimento Digital_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>

        <h3>Atendimento: {{atendimentoDigitalOututDetail.ticket.instancia}} /
            {{atendimentoDigitalOututDetail.ticket.motivo}}</h3>

        <hr>

        <h5>Resposta: </h5>

        <p>
            {{atendimentoDigitalOututDetail.atendimento}}
        </p>

        <div *ngIf="atendimentoDigitalOututDetail.atendimentoInteracoes">
            <h5>Info Reaberturas</h5>

            <ion-list>
                <ion-item *ngFor="let iteracao of atendimentoDigitalOututDetail.atendimentoInteracoes"
                    (click)="openObservacoesReaberturas(iteracao.observacao)">
                    <ion-label>{{iteracao.observacao}}</ion-label>
                </ion-item>
            </ion-list>

        </div>

        <button ion-button block round (click)="openPopUpReOpenAtend()">Reabrir</button>

    </div>
</ion-content>