<ion-header>
	<ion-toolbar>
		<ion-title> Efika CO Mobile_ </ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="royal" (click)="openPopover();">
				<ion-icon name="contact"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<cadastro-search-component></cadastro-search-component>
	<h4>Seja Bem Vindo ao
		<br>
		<b class="mg-left">Efika CO Mobile</b>
	</h4>
	<p>Para começar insira a instância no Input de pesquisa e pressione "Enter" e aguarde a busca do cadastro.</p>
	<info-mural-component></info-mural-component>	
</ion-content>