home-component {
    .mg-left {
        margin-left: 10px;
    }

    .mural-mg-top {
        margin-top: 50px;
    }

    .titulo-home {
        text-align: center;
    }

    .toolbar-background-md {
        border-color: #ffffff;
        background: #ffffff;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #003244;
    }

}

index-validations-component {
    .version {
        position: fixed;
        margin-top: 1px;
        z-index: 9999;
        color: #003244;
    }
}