<div>
    <table>
        <thead>
            <tr>
                <th>Teste</th>
                <th>Teste</th>
                <th>Teste</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Result</td>
                <td>Result</td>
                <td>Result</td>
            </tr>
            <tr>
                <td>Result</td>
                <td>Result</td>
                <td>Result</td>
            </tr>
            <tr>
                <td>Result</td>
                <td>Result</td>
                <td>Result</td>
            </tr>
        </tbody>
    </table>
</div>