<div *ngIf="cadastro">
    <ion-item-group>
        <ion-item-divider color="light">Informações</ion-item-divider>
        <ion-item>Designador: {{cadastro.designador}}</ion-item>
        <ion-item>Instância: {{cadastro.linha.dn}}</ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="light">Informações de Serviço</ion-item-divider>
        <ion-item>Linha Serviço: {{cadastro.servicos.tipoLinha}}</ion-item>
        <ion-item>TV: {{cadastro.servicos.tipoTv}}</ion-item>
        <ion-item>Velocidade Down/Up: {{cadastro.servicos.velDown}} - {{cadastro.servicos.velUp}}</ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="light">Informações de Rede</ion-item-divider>
        <ion-item>Planta: {{cadastro.rede.planta}}</ion-item>
        <ion-item>Armario: {{cadastro.radius.armario}}</ion-item>
        <ion-item *ngIf="cadastro.radius.isIpFixo">Ip Fixo: {{cadastro.radius.ipFixo}}</ion-item>
        <ion-item>Slot: {{cadastro.rede.slot}}</ion-item>
        <ion-item>Porta: {{cadastro.rede.porta}}</ion-item>
        <ion-item>Sequencial: {{cadastro.rede.sequencial}}</ion-item>
        <ion-item>Vendor Dslam: {{cadastro.rede.vendorDslam}}</ion-item>
        <ion-item>Sagre?</ion-item>
    </ion-item-group>
    <fulltest-component></fulltest-component>
</div>