<div>
    <ion-list>
        <ion-item>
            <ion-avatar item-start>
                <button ion-button (click)="fulltest();" color="secondary" [disabled]="holderService.cadastro.rede.modeloDslam === 'LIADSLPT48'
                                                                                        || holderService.cadastro.rede.modeloDslam === 'VDSL24'
                                                                                        || holderService.cadastro.rede.modeloDslam === 'VDPE_SIP'
                                                                                        || holderService.cadastro.rede.modeloDslam === 'CCPE_SIP'
                                                                                        || holderService.cadastro.rede.modeloDslam === 'CCPE'">
                    <ion-icon name="settings"></ion-icon>
                </button>
            </ion-avatar>
            <h2>Realizar Fulltest</h2>
            <p>Clique aqui e teste o cadastro.</p>
        </ion-item>
    </ion-list>
</div>