<div>

    <table *ngIf="atendimentoDigitalTabelaValidacao">
        <tbody>
            <tr>
                <th>Rede</th>
                <td [class]="atendimentoDigitalTabelaValidacao.rede ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.rede}}</td>
            </tr>
            <tr>
                <th>Tecnologia</th>
                <td [class]="atendimentoDigitalTabelaValidacao.tecnologia ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.tecnologia}}</td>
            </tr>
            <tr>
                <th>Banda Larga Ok</th>
                <td [class]="atendimentoDigitalTabelaValidacao.bandaLargaOk ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.bandaLargaOk}}</td>
            </tr>
            <tr>
                <th>É IP TV</th>
                <td [class]="atendimentoDigitalTabelaValidacao.isIPTv ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.isIPTv}}</td>
            </tr>
            <tr>
                <th>É Tv Hibrida</th>
                <td [class]="atendimentoDigitalTabelaValidacao.isTvHibrida ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.isTvHibrida}}</td>
            </tr>
            <tr>
                <th>É Tv DTH</th>
                <td [class]="atendimentoDigitalTabelaValidacao.isTvDTH ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.isTvDTH}}</td>
            </tr>
            <tr>
                <th>É SIP</th>
                <td [class]="atendimentoDigitalTabelaValidacao.IsSIP ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.IsSIP}}</td>
            </tr>
            <tr>
                <th>É Linha Metalico</th>
                <td [class]="atendimentoDigitalTabelaValidacao.isLinhaMetalicoy ? 'success' : 'error'">
                    {{atendimentoDigitalTabelaValidacao.isLinhaMetalico}}</td>
            </tr>
        </tbody>
    </table>

</div>