<ion-fab top right>
    <button ion-fab mini>
        <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
    <ion-fab-list side="down">
        <button ion-fab (click)="novoAtendmento()">
            <ion-icon name="home"></ion-icon>
        </button>
        <!-- <button ion-fab (click)="userconfig()">
            <ion-icon name="contact"></ion-icon>
        </button> -->
        <button ion-fab (click)="testcase()">
            <ion-icon name="speedometer"></ion-icon>
        </button>

        <button ion-fab (click)="logout()" color="danger">
            <ion-icon name="power"></ion-icon>
        </button>
    </ion-fab-list>
</ion-fab>