<ion-header>
    <ion-navbar>
        <ion-title>Solicitar Acesso</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label color="primary" stacked>Nome</ion-label>
        <ion-input type="text" placeholder="Nome" [(ngModel)]="usuarioCreate.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Matricula</ion-label>
        <ion-input type="text" placeholder="Matricula" [(ngModel)]="usuarioCreate.matricula" name="matricula"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" placeholder="Email" [(ngModel)]="usuarioCreate.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Contato</ion-label>
        <ion-input type="tel" placeholder="Contato" [(ngModel)]="usuarioCreate.contato" name="contato"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>CPF</ion-label>
        <ion-input type="tel" placeholder="CPF" [(ngModel)]="usuarioCreate.cpf" name="cpf"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Cluster</ion-label>
        <ion-select [(ngModel)]="usuarioCreate.cluster" (ionChange)="getcidadeesp()">
            <ion-option *ngFor="let cluster of lclusters" [value]="cluster">{{cluster}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-select [(ngModel)]="usuarioCreate.cidade">
            <ion-option *ngFor="let cidade of lcidades" [value]="cidade">{{cidade}}</ion-option>
        </ion-select>
    </ion-item>

    <button ion-button color="secondary" full round (click)="pediracesso();">Solicitar acesso</button>

</ion-content>