<ion-nav [root]="login" *ngIf="!holderService.estalogado"></ion-nav>
<ion-tabs *ngIf="holderService.estalogado">
    <!-- <ion-tab tabIcon="contact" [root]="login" *ngIf="!estalogado"></ion-tab> -->
    <ion-tab tabIcon="home" [root]="cadastro"></ion-tab>
    <ion-tab tabIcon="ios-shuffle" [root]="fulltestResult"></ion-tab>
    <!-- <ion-tab tabIcon="list" [root]="cadastro"></ion-tab> -->
    <!-- <ion-tab tabIcon="trending-up" [root]="fulltest"></ion-tab> -->
    <!-- <ion-tab tabIcon="contact"></ion-tab> -->
</ion-tabs>