<ion-header>
    <ion-navbar>
        <ion-title>Atendimento Digital_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>

        <ion-item>
            <ion-label>Motivo</ion-label>
            <ion-select [(ngModel)]="motivo" (ionChange)="changeMotivos()">
                <ion-option value="ATSIP">ATSIP</ion-option>
                <ion-option value="APTV">APTV</ion-option>

                <ion-option value="ATSIPE">ATSIP Error</ion-option>
                <ion-option value="APTVE">APTV Error</ion-option>
            </ion-select>
        </ion-item>

        <hr *ngIf="motivo">

        <notvalidattrs-component *ngIf="motivo && !isValidAttrs"
            [atendimentoDigitalTabelaValidacao]="atendimentoDigitalTabelaValidacao"></notvalidattrs-component>


        <aptv-component *ngIf="motivo && motivo == 'APTV' && isValidAttrs" [motivo]="motivo"></aptv-component>

        <atsip-component *ngIf="motivo && motivo == 'ATSIP' && isValidAttrs" [motivo]="motivo"></atsip-component>

    </div>
</ion-content>