<ion-header>
    <ion-navbar>
        <ion-title>Reset de Senha</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label color="primary" stacked>Matricula</ion-label>
        <ion-input type="text" placeholder="Matricula" [(ngModel)]="matricula" [disabled]="comefromfast"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>CPF</ion-label>
        <ion-input type="number" placeholder="CPF - Somente números" [(ngModel)]="cpf"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha" name="senha" *ngIf="!showHidePassword"></ion-input>
        <ion-input type="text" [(ngModel)]="senha" name="senha" *ngIf="showHidePassword" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Repita a senha</ion-label>
        <ion-input type="password" [(ngModel)]="repeatsenha" name="senha" *ngIf="!showHidePassword"></ion-input>
        <ion-input type="text" [(ngModel)]="repeatsenha" name="senha" *ngIf="showHidePassword" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Mostrar Senhas</ion-label>
        <ion-checkbox color="dark" checked="true" [(ngModel)]="showHidePassword"></ion-checkbox>
    </ion-item>

    <button ion-button color="secondary" full round (click)="reset();">Resetar</button>
</ion-content>