<div>
    <!-- Infos de Modem Pede para todos -->
    <ion-item>
        <ion-label>Serial HG</ion-label>
        <ion-input [(ngModel)]="atendimentoDigital.serial" max='25'>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Mac HG</ion-label>
        <ion-input [(ngModel)]="atendimentoDigital.mac" [macMask]>
        </ion-input>
    </ion-item>


    <ion-item>
        <ion-label>Modem ATA</ion-label>
        <ion-checkbox [(ngModel)]="atendimentoDigital.chkATA"></ion-checkbox>
    </ion-item>


    <div *ngIf="atendimentoDigital.chkATA">
        <hr>

        <p>Para adicionar os pontos preencha as informações abaixo.</p>

        <ion-item>
            <ion-label>Mac</ion-label>
            <ion-input [(ngModel)]="pontoMac" macMask></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Serial</ion-label>
            <ion-input [(ngModel)]="pontoSerial" maxlength="25"></ion-input>
        </ion-item>
        
        <button color="secondary" ion-button block round (click)="addPonto()">Adicionar
            Ponto</button>

        <hr>

        <p>Lista de Pontos adicionados: </p>

        <ion-list *ngIf="atendimentoDigital.pontos">
            <ion-item-sliding *ngFor="let ponto of atendimentoDigital.pontos">
                <ion-item>
                    <h2>MAC: {{ponto.mac}}</h2>
                    <h3>Modelo: {{ponto.modeloAta}}</h3>
                    <p>Serial: {{ponto.serial}}</p>
                </ion-item>
                <ion-item-options side="end">
                    <button ion-button color="danger" (click)="removePonto(ponto)">
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <button ion-button block round (click)="setAtendimento()">Enviar</button>
</div>