<ion-header>
    <ion-navbar>
        <ion-title>Informações_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="rede">
        <table>
            <tbody>
                <tr>
                    <th colspan="2" class="th-title"> Informações de Rede</th>
                </tr>
                <tr *ngIf="rede.tipo">
                    <th> Tipo: </th>
                    <td> {{rede.tipo}} </td>
                </tr>
                <tr *ngIf="rede.origem">
                    <th> Origem: </th>
                    <td> {{rede.origem}} </td>
                </tr>
                <tr *ngIf="rede.planta">
                    <th> Planta: </th>
                    <td> {{rede.planta}} </td>
                </tr>
                <tr *ngIf="holderService.cadastro.radius">
                    <th> Armario: </th>
                    <td> {{holderService.cadastro.radius.armario}} </td>
                </tr>
                <tr *ngIf="rede.vendorDslam">
                    <th> Vendor Dslam: </th>
                    <td> {{rede.vendorDslam}} </td>
                </tr>
                <tr *ngIf="rede.modeloDslam">
                    <th> Modelo Dslam: </th>
                    <td> {{rede.modeloDslam}} </td>
                </tr>
                <tr *ngIf="rede.slot">
                    <th> Slot Equipamento: </th>
                    <td> {{rede.slot}} </td>
                </tr>
                <tr *ngIf="rede.porta">
                    <th> Porta Equipamento: </th>
                    <td> {{rede.porta}} </td>
                </tr>
                <tr *ngIf="rede.sequencial">
                    <th> Porta Sequencial: </th>
                    <td> {{rede.sequencial}} </td>
                </tr>
                <tr *ngIf="rede.rin">
                    <th> Rin: </th>
                    <td> {{rede.rin}} </td>
                </tr>
                <!-- Abaixo ira esconder e mostrar de acordo com o usuário -->
                <tr *ngIf="rede.ipDslam && btnMostrarMaisMenos">
                    <th> Ip Dslam: </th>
                    <td> {{rede.ipDslam}} </td>
                </tr>
                <tr *ngIf="rede.idOnt && btnMostrarMaisMenos">
                    <th> Id Ont: </th>
                    <td> {{rede.idOnt}} </td>
                </tr>
                <tr *ngIf="rede.terminal && btnMostrarMaisMenos">
                    <th> Terminal: </th>
                    <td> {{rede.terminal}} </td>
                </tr>
                <tr *ngIf="rede.ipMulticast && btnMostrarMaisMenos">
                    <th> Ip Multicast: </th>
                    <td> {{rede.ipMulticast}} </td>
                </tr>
                <tr *ngIf="rede.nrc && btnMostrarMaisMenos">
                    <th> NRC: </th>
                    <td> {{rede.nrc}} </td>
                </tr>
                <tr *ngIf="rede.logica && btnMostrarMaisMenos">
                    <th> Logica: </th>
                    <td> {{rede.logica}} </td>
                </tr>
                <tr *ngIf="rede.vlanVoip && btnMostrarMaisMenos">
                    <th> Vlan Voip: </th>
                    <td> {{rede.vlanVoip}} </td>
                </tr>
                <tr *ngIf="rede.vlanVod && btnMostrarMaisMenos">
                    <th> Vlan Vod: </th>
                    <td> {{rede.vlanVod}} </td>
                </tr>
                <tr *ngIf="rede.vlanMulticast && btnMostrarMaisMenos">
                    <th> Vlan Multicast: </th>
                    <td> {{rede.vlanMulticast}} </td>
                </tr>
                <tr *ngIf="rede.cvlan && btnMostrarMaisMenos">
                    <th> Cvlan: </th>
                    <td> {{rede.cvlan}} </td>
                </tr>
                <tr *ngIf="rede.bhs && btnMostrarMaisMenos">
                    <th> BHS: </th>
                    <td> {{rede.bhs ? 'Sim' : 'Não'}} </td>
                </tr>
            </tbody>
        </table>
        <button ion-button color="dark" (click)="actMostrarMaisMenos()" block>
            {{btnMostrarMaisMenosName}}
        </button>
    </div>
</ion-content>