<ion-header>
    <ion-navbar>

        <ion-chip>
            <ion-icon name="pin"></ion-icon>
            <ion-label> Minhas Solicitações </ion-label>
        </ion-chip>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>

        <ion-card *ngFor="let atendimento of atendimentoDigitalOutput">
            <ion-card-header *ngIf="atendimento && atendimento.customer">
                <ion-card-subtitle>
                    <ion-chip>
                        <ion-icon name="person"></ion-icon>
                        <ion-label>cliente: {{atendimento.customer.instancia}}</ion-label>
                    </ion-chip>
                </ion-card-subtitle>
                <ion-card-title *ngIf="atendimento.status">
                    <ion-badge color="dark">{{atendimento.status.beautyName}}</ion-badge>
                    <br>
                    <ion-badge color="primary"
                        *ngIf="atendimento && atendimento.customer && atendimento.customer.asserts[0].value === false">
                        cadastro sem divergência</ion-badge>
                    <ion-badge color="danger"
                        *ngIf="atendimento && atendimento.customer && atendimento.customer.asserts[0].value === true">
                        cadastro com divergência</ion-badge>
                    <br>
                    <ion-badge color="primary"
                        *ngIf="atendimento && atendimento.customer && atendimento.customer.asserts[2].value === false">
                        sem bloqueio radius</ion-badge>
                    <ion-badge color="danger"
                        *ngIf="atendimento && atendimento.customer && atendimento.customer.asserts[2].value === true">
                        com bloqueio radius</ion-badge>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-chip style="width: 100%" *ngIf="atendimento && atendimento.ss">
                    <ion-label>SS: {{atendimento.ss}}</ion-label>
                </ion-chip>
                <ion-chip style="width: 100%" *ngIf="atendimento && atendimento.leType">
                    <ion-label>Tipo: <b>{{atendimento.leType}}</b></ion-label>
                </ion-chip>
                <ion-chip style="width: 100%" *ngIf="atendimento && atendimento.creationDate">
                    <ion-label>Data de Criação: <b>{{atendimento.creationDate | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                    </ion-label>
                </ion-chip>
                <ion-chip style="width: 100%" *ngIf="atendimento && atendimento.lastModifiedDate">
                    <ion-label>Última Alteração: <b>{{atendimento.lastModifiedDate | date:'dd/MM/yyyy HH:mm:ss'}}</b>
                    </ion-label>
                </ion-chip>
                <ion-chip style="width: 100%" *ngIf="atendimento && atendimento.technician">
                    <ion-label>Técnico: <b>{{atendimento.technician.login}} - {{atendimento.technician.name}}</b>
                    </ion-label>
                </ion-chip>
                
                <ion-item-group style="width: 100%" *ngFor="let att of atendimento.attendances">
                <span *ngIf="att.endDate">
                    <ion-item-divider>
                        <ion-label>Atendido às: {{att.endDate | date:'dd/MM/yyyy HH:mm:ss'}}</ion-label>
                    </ion-item-divider>
                    <ion-item>
                        <ion-label *ngIf="att && att.login">Atendente: <b>{{att.login}}</b></ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label *ngIf="att && att.closure">Encerramento CO: <b>{{att.closure.name}}</b></ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label *ngIf="att && att.note">Nota: <b>{{att.note}}</b></ion-label>
                    </ion-item>
                    <ion-item>
                        <button ion-button block round (click)="openPopUpReOpenAtend()">Reabrir</button>
                    </ion-item>
                </span>
                </ion-item-group>

            </ion-card-content>
        </ion-card>

    </div>
</ion-content>