<ion-header>
    <ion-navbar>
        <ion-title>Atendimento Digital_ </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>

        <ion-list>
            <ion-item (click)="openDescAtendimentoDigital()">
                <ion-label>
                    <h3>Um</h3>
                    <p>Um</p>
                </ion-label>
            </ion-item>
            <ion-item (click)="openDescAtendimentoDigital()">
                <ion-label>
                    <h3>Dois</h3>
                    <p>Dois</p>
                </ion-label>
            </ion-item>
            <ion-item (click)="openDescAtendimentoDigital()">
                <ion-label>
                    <h3>Três</h3>
                    <p>Três</p>
                </ion-label>
            </ion-item>
        </ion-list>

    </div>
</ion-content>