<div *ngIf="valid">
    <div class="titulo-pagina">Informações de Rede</div>
    <table>
        <tbody>
            <tr>
                <th>Mensagem:</th>
                <td>
                    {{valid.mensagem}}
                    <ion-icon name="checkmark-circle" *ngIf="valid.resultado" style="color: green;"></ion-icon>
                    <ion-icon name="ios-alert" *ngIf="!valid.resultado && valid.result.pctSuficiente" style="color: red;"></ion-icon>
                    <ion-icon name="warning" *ngIf="!valid.resultado && !valid.result.pctSuficiente" style="color: orange;"></ion-icon>
                </td>
            </tr>
            <tr>
                <th>Pacotes Trafegados (Down/Up)</th>
                <td>{{valid.result.pctDown}} / {{valid.result.pctUp}}</td>
            </tr>
            <tr>
                <th>CRC OK</th>
                <td>
                    <ion-icon name="checkmark-circle" *ngIf="valid.result.crcOk" style="color: green;"></ion-icon>
                    <ion-icon name="ios-alert" *ngIf="!valid.result.crcOk" style="color: red;"></ion-icon>
                </td>
            </tr>
            <tr>
                <th>CRC (Down/Up)</th>
                <td>{{valid.result.crcDown}} / {{valid.result.crcUp}}</td>
            </tr>
            <tr>
                <th>FEC (Down/Up)</th>
                <td>{{valid.result.fecDown}} / {{valid.result.fecUp}}</td>
            </tr>
            <tr>
                <th>Ressincronismo</th>
                <td>{{valid.result.resync}}</td>
            </tr>
            <!-- <tr>
                <th>Tempo Medição</th>
                <td>{{valid.result.tempoMedicao}}</td>
            </tr> -->
            <tr>
                <td colspan="2">
                    <button ion-button round block (click)="getConfRede()">Reconsultar Tabela de Rede</button>
                </td>
            </tr>
        </tbody>
    </table>
    <alert-mensagem-component [ativo]="ativo" [tipo]="tipo" [titulo]="titulo" [mensagem]="mensagem"></alert-mensagem-component>
</div>