robo-manobra-component {
    .paddingtopbottom{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .stylethediv {
        background-color: #4286f4;
        border-radius: 20px;
        border: 1px solid #0061ff;
    }

    .putsomemargin {
        margin-left: 15px;
        margin-right: 15px;
    }

}