<ion-header>
    <ion-navbar>
        <ion-title>Robo Manobra</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="!disableBtnVerificarDisp">
        <ion-item>
            <ion-label fixed>Tipo Tecnologia</ion-label>
            <ion-select [(ngModel)]="tipoTecnologia">
                <ion-option value="FTTA">FTTA</ion-option>
                <ion-option value="FTTH">FTTH</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button block round (click)="doVerificarDisponibilidade();">Verificar
            Disponibilidade</button>
    </div>

    <div *ngIf="ableFormRoboManobra">
        <ion-list>
            <ion-item>
                <ion-label fixed>Motivo</ion-label>
                <ion-select [(ngModel)]="motivoManobra">
                    <ion-option value="Distância">Distância</ion-option>
                    <ion-option value="Bloco Incorreto">Bloco Incorreto</ion-option>
                    <ion-option value="Ocupação Indevida">Ocupação Indevida</ion-option>
                    <ion-option value="Travessia Irregular">Travessia Irregular</ion-option>
                    <ion-option value="Correção de cadastro">Correção de cadastro</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label fixed>Primária</ion-label>
                <ion-select [(ngModel)]="selectedPrimaria">
                    <ion-option *ngFor="let primaria of holderService.roboManobra.primaria" [value]="primaria">{{primaria.codprimaria}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="selectedPrimaria">
                <ion-label fixed>CTO</ion-label>
                <ion-select [(ngModel)]="selectedCTO">
                    <ion-option *ngFor="let cto of selectedPrimaria.CTO" [value]="cto">{{cto.codcto}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="selectedCTO">
                <ion-label fixed>Secundária</ion-label>
                <ion-select [(ngModel)]="selectecSecundaria">
                    <ion-option *ngFor="let secundaria of selectedCTO.secundaria" [value]="secundaria">{{secundaria.codsecundaria}}</ion-option>
                </ion-select>
            </ion-item>
            <button ion-button block round (click)="doManobrar()">Manobrar</button>
        </ion-list>
    </div>

    <div *ngIf="showBtnVerificarSituacaoManobra">
        <p>Aguarde o tempo de resposta pode demorar até 30 minutos, após a realização da manobra.</p>
        <button ion-button block round (click)="validSituacaoManobraMock();">Verificar
            Situação</button>
    </div>

</ion-content>