bhs-component {
    .cuidado {
        text-align: center;
        border-radius:.5em;
        box-shadow:1px 1px 3px #888;
        color: #9F6000 !important;
        background-color: #FEEFB3;
        border-radius:.5em;
    }
}