<div>
    <h3>Configurar BHS_</h3>

    <div *ngIf="showBhs()">
        <ion-item>
            <ion-label>BHS</ion-label>
            <ion-toggle [(ngModel)]="holderService.cadastro.rede.bhs"></ion-toggle>
        </ion-item>
        <button ion-button block round color="royal" (click)="configVlan();">Configurar VLAN's</button>
    </div>

    <div *ngIf="!showBhs()">
        <ion-card class="cuidado">
            <ion-card-header> BHS</ion-card-header>
            <ion-card-content> Cliente não é GPON VIVO1. </ion-card-content>
        </ion-card>
    </div>

</div>